@model EnglishCenter.Models.Person
@using (Html.BeginForm())
{

    <div class="form-horizontal">
        @*<h4>Person</h4>*@
        <hr />
        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        @Html.HiddenFor(model => model.PeopleID)

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Name)

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Phone)

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.DoB)

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Gender)

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Email)

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Active)

            </div>
        </div>

        <div class="form-group">
            <span>Input New password</span>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                <button type="button" style="height:4%;" class="btn btn-inverse-info btn-fw" >Change</button>

            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.Address)
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.Image,"Change your avatar", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @*<span>Change your avatar</span>*@
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control", @id = "EditLinkOfAva", @readonly = "readonly" } })
                    <button type="button" style="height:4%;" class="btn btn-inverse-info btn-fw" id="EditAvaBrownButton">Brown</button>*@
                @Html.HiddenFor(model => model.Image)
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.RoleID)
            </div>
        </div>

        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>*@
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@


