@model IEnumerable<EnglishCenter.Models.HistoryStudentTime>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Person.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Person1.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberSlot)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Person.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Person1.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberSlot)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HistoryStudentTime1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.HistoryStudentTime1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HistoryStudentTime1 })
        </td>
    </tr>
}

</table>
