@model EnglishCenter.Models.QuantityAndAttendance

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuantityAndAttendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsingRoom.RoomID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsingRoom.RoomID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendent)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QnAID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
