<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>English Center</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/MaterialBlogTemplate/css/base.css">
    <link rel="stylesheet" href="~/MaterialBlogTemplate/css/vendor.css">
    <link rel="stylesheet" href="~/MaterialBlogTemplate/css/main.css">


    <!-- script
    ================================================== -->
    <script src="~/MaterialBlogTemplate/js/modernizr.js"></script>
    <script src="~/MaterialBlogTemplate/js/pace.min.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="shortcut icon" href="~/MaterialBlogTemplate/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/MaterialBlogTemplate/favicon.ico" type="image/x-icon">

    

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        * {
            box-sizing: border-box;
        }

        /* Button used to open the chat form - fixed at the bottom of the page */
        /*cho nay add icon vao cho dep*/
        .open-button {
            background-color: #555;
            color: white;
            padding: 16px 20px;
            border: none;
            cursor: pointer;
            opacity: 0.8;
            position: fixed;
            bottom: 23px;
            right: 28px;
            width: 280px;
        }

        /* The popup chat - hidden by default */
        .chat-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width textarea */
            .form-container textarea {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
                resize: none;
                min-height: 200px;
            }

                /* When the textarea gets focus, do something */
                .form-container textarea:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/send button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
    <!-- Shorten css
     ================================================== -->
    <link href="~/Content/shorten.css" rel="stylesheet" />
    <script src="~/scripts/jquery.js"></script>
    <script src="~/scripts/jquery-shorten.js"></script>
   
    <script>

        jQuery(function ($) {
            //$('.commentlist').shorten({
            //    chars: 100,
            //    ellipses: '...',
            //    more: 'more',
            //    less: 'less'
            //});
            $('.comment-text').shorten({
                chars: 300,
                ellipses: '...',
                more: 'more',
                less: 'less'
            });

        });
    </script>
    
</head>

<body id="top">

    <!-- header
    ================================================== -->
    <header class="short-header">

        <div class="gradient-block"></div>

        <div class="row header-content">

            <div class="logo">
                <a href="@Url.Action("IndexClient","Contents")">Author</a>

            </div>

            <nav id="main-nav-wrap">
                @*taskbar*@
                <ul class="main-navigation sf-menu">
                    @if (Session["PersonName"] != null)
                    {
                        <li><a href="@Url.Action("Details", "People", new { id = Session["PersonID"].ToString() })" title="">Person</a></li>
                    }


                    <li><a href="index.html" title="">Home</a></li>

                    @Html.Action("CatalogListInClient", "Catalogues")
                    @Html.Action("TopicPostListPinInBarInClient", "TopicPosts")
                    @if (Session["PersonName"] == null)
                    {
                        <li><a href="@Url.Action("Login","People")" title="">Login</a></li>

                    }
                    else
                    {
                        <li><a href="@Url.Action("Logout", "People")" title="">Hello @Session["PersonName"].ToString()! Logout</a></li>
                    }

                </ul>
            </nav> <!-- end main-nav-wrap -->

            <div class="search-wrap">

                <form role="search" method="get" class="search-form" action="#">
                    <label>
                        <span class="hide-content">Search for:</span>
                        <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>

                <a href="#" id="close-search" class="close-btn">Close</a>

            </div> <!-- end search wrap -->

            <div class="triggers">
                <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
                <a class="menu-toggle" href="#"><span>Menu</span></a>
            </div> <!-- end triggers -->

        </div>

    </header> <!-- end header -->
    <!-- masonry
    ================================================== -->
    <div>
        @RenderBody()
        
    </div>
    <button class="open-button" onclick="openForm()">Chat</button>

    <div class="chat-popup" id="myForm">
        <form action="/action_page.php" class="form-container">
            <iframe allow="microphone;"
                    width="350"
                    height="400"
                    src="https://console.dialogflow.com/api-client/demo/embedded/d3c022e2-1c62-4add-ad48-8bcd570af96d"></iframe>
            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
    </div>
    <script>
            // When the user clicks on div, open the popup
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
    </script>

    <script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
    </script>
    <script>
            // When the user clicks on div, open the popup
            function myFunction() {
                var popup = document.getElementById("myPopup");
                popup.classList.toggle("show");
            }
    </script>
    <!-- end bricks -->
    <!-- footer
    ================================================== -->
    <footer>

        <div class="footer-main">

            <div class="row">

                <div class="col-four tab-full mob-full footer-info">

                    <h4>About Our Site</h4>

                    <p>
                        Lorem ipsum Ut velit dolor Ut labore id fugiat in ut fugiat nostrud qui in dolore commodo eu magna Duis cillum dolor officia esse mollit proident Excepteur exercitation nulla. Lorem ipsum In reprehenderit commodo aliqua irure labore.
                    </p>

                </div> <!-- end footer-info -->

                <div class="col-two tab-1-3 mob-1-2 site-links">

                    <h4>Site Links</h4>

                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Terms</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>

                </div> <!-- end site-links -->

                <div class="col-two tab-1-3 mob-1-2 social-links">

                    <h4>Social</h4>

                    <ul>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Dribbble</a></li>
                        <li><a href="#">Google+</a></li>
                        <li><a href="#">Instagram</a></li>
                    </ul>

                </div> <!-- end social links -->

                <div class="col-four tab-1-3 mob-full footer-subscribe">

                    <h4>Subscribe</h4>

                    <p>Keep yourself updated. Subscribe to our newsletter.</p>

                    <div class="subscribe-form">

                        <form id="mc-form" class="group" novalidate="true">

                            <input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="Type &amp; press enter" required="">

                            <input type="submit" name="subscribe">

                            <label for="mc-email" class="subscribe-message"></label>

                        </form>

                    </div>

                </div> <!-- end subscribe -->

            </div> <!-- end row -->

        </div> <!-- end footer-main -->

        <div class="footer-bottom">
            <div class="row">
                <div class="col-twelve">
                    <div class="copyright">
                        <span>© Copyright Abstract 2016</span>
                        <span>Design by <a href="http://www.styleshout.com/">styleshout</a></span>
                    </div>

                    <div id="go-top">
                        <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>

                    </div>
                </div>




            </div>

        </div> <!-- end footer-bottom -->

    </footer>

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="~/MaterialBlogTemplate/js/jquery-2.1.3.min.js"></script>
    <script src="~/MaterialBlogTemplate/js/plugins.js"></script>
    @*<script src="~/MaterialBlogTemplate/js/jquery.appear.js"></script>*@
    <script src="~/MaterialBlogTemplate/js/main.js"></script>

   
</body>

</html>